<h1 style="text-align: center;">Editing service</h1>

<%= render "form", service: @service %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this service", @service %> |
  <%= link_to "Back to services", services_path %>
</div>
