<div id="<%= dom_id chose_p %>">
  <p>
    <strong>Service:</strong>
    <%= chose_p.service.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chose_p.user.email %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= chose_p.choice %>
  </p>

</div>

