<div id="<%= dom_id user %>" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
  <p><strong>Login:</strong> <%= user.login %></p>
  <p><strong>Password:</strong> <%= user.password %></p>
  <p><strong>Account:</strong> <%= user.account_id %></p>
</div>
