<h1 style="text-align: center;">Editing user</h1>

<%= render "form", user: @user %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
