<p style="color: green; text-align: center;"><%= notice %></p>

<h1 style="text-align: center;">Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p style="text-align: center;"><%= link_to "Show this user", user %></p>
  <% end %>
</div>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "New user", new_user_path, class: "button" %>
</div>
