<p style="color: green; text-align: center;"><%= notice %></p>

<h1 style="text-align: center;">New user</h1>

<%= render "form", user: @user %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Back to users", users_path %>
</div>
