<p style="color: green; text-align: center;"><%= notice %></p>

<h1 style="text-align: center;">Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p style="text-align: center;"><%= link_to "Show this order", order %></p>
  <% end %>
</div>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "New order", new_order_path, class: "button" %>
</div>
