<h1 style="text-align: center;">Editing poster</h1>

<%= render "form", poster: @poster %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this poster", @poster %> |
  <%= link_to "Back to posters", posters_path %>
</div>
