<h1 style="text-align: center;">New poster</h1>

<%= render "form", poster: @poster %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Back to posters", posters_path, class: "button" %>
</div>
