<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= service.provider %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= service.industry %>
  </p>

</div>
