<h1 style="text-align: center;">Editing order</h1>

<%= render "form", order: @order %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>
