<div id="<%= dom_id group_membership %>">
  <p>
    <strong>Group:</strong>
    <%= group_membership.group_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group_membership.user_id %>
  </p>

</div>
