*{
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 16px;
    background-color: #f5f5f5;
    width: 100%;
}

.nav-bar__wrapper {
    display: flex;
    flex-direction: row;
    flex: 2;
    gap: 16px;
    justify-content: space-between;
}

.nav-bar__item {
    list-style: none;
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
}

.nav-bar__item a{
    text-decoration: none;
    color: #232323;
}

.nav-bar__link {
    color: #232323;
    text-decoration: none;
}

.nav-bar__user_actions{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 1;
}
.user-actions__item{
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
    width: auto;
    height: auto;
    align-content: center;
}
.user-actions__item a{
    text-decoration: none;
    color: #232323;
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
}