<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= group.interest.service.name %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= group.interest.user.email %>
  </p>
</div>