<div class="main__business-models">
  <div class="business-models__first_line">
    <h2 class="business-models__tittle">Services</h2>
    <%= render 'search_form' %>
  </div>
  <ul class="business-models__list">
    <% @service.each do |model| %>
      <li class="business-models__item">
        <h3 class="business-models__name"><%= model.name %></h3>
        <%= link_to "Posters", posters_path(search: model.name) %>
      </li>
    <% end %>
  </ul>
</div>