<div id="<%= dom_id payment %>">
  <p>
    <strong>Poster:</strong>
    <%= payment.poster.name %> <!-- Assuming there's a name attribute for Poster -->
  </p>

  <p>
    <strong>User:</strong>
    <%= payment.user.email %> <!-- Assuming there's a name attribute for User -->
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>
</div>
