<div id="<%= dom_id poster %>">
  <p>
    <strong>Description:</strong>
    <%= poster.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= poster.price %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= poster.service_id %>
  </p>

</div>
