<p style="color: green; text-align: center;"><%= notice %></p>

<h1 style="text-align: center;">New account</h1>

<%= render "form", account: @account %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Back to accounts", accounts_path %>
</div>
