<h1 style="text-align: center;">Editing comment</h1>

<%= render "form", comment: @comment %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this comment", @comment %> |
  <%= link_to "Back to comments", comments_path %>
</div>
