<h1 style="text-align: center;">Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p style="text-align: center;"><%= link_to "Show this comment", comment %></p>
  <% end %>
</div>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "New comment", new_comment_path, class: "button" %>
</div>
