.block_posters{
    width: 100%;
}
.
.posters__search-form form{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
}

.posters__search-form form input[type="text"]{
    width: 450px;
    height: 20px;
    margin-right: 30px;
}
.posters__search-form form input[type="submit"]{
    width: 150px;
    height: 42px;
}
.poster{
    margin: 10px;
    border-bottom: #2E2F30 solid 1px;
}
.poster__link{
    width: 150px;
    height: 35px;
    background-color: #555;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.poster__link a{
    text-decoration: none;
    flex: 1;
    font-size: 1.0em;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.poster__show{
    width: 100%;
}
.poster__show input[type="submit"]{
    padding: 0;
    width: 100px;
    height: 30px;
}
