.sorting-options{
    display: flex;
    flex-direction: row;
}
.sorting-options a{
    display: block;
    text-decoration: none;
    color: #c3cbd6;
    text-align: center;
    width: 10%;
    padding: 10px;
    border: 1px solid #c3cbd6;
    margin-left: 10px;
    margin-top: 10px;
}
