<div id="<%= dom_id chose_u %>">
  <p>
    <strong>Service:</strong>
    <%= chose_u.service.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chose_u.user.email %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= chose_u.choice %>
  </p>
</div>
